 <style>
        body {
            background-image: url('2.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh; 
            margin: 0; 
        }

<style>
  table {
    border-collapse: collapse; /* Para bordas colapsadas */
    width: 100%;
  }
  
  th, td {
    border: 2px solid red; /* Cor da borda */
    padding: 8px;
    text-align: left;
  }
</style>

<table>
  <tr>
    <th>Produto nº 1</th>
    <th>Produto nº 2</th>
    <th>Produto nº 3</th>
    <th>Produto nº 4</th>
  </tr>
  <tr>
    <td>Bola</td>
    <td>Ração Premium/td>
    <td>Shampoo/td>
    <td>Condicionador/td>
  </tr>
</table>
